@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: "IBM Plex Sans"
}

p {
    font-family: "IBM Plex Sans"
}

h2 {
    font-family: "IBM Plex Sans"
}

* {
    font-family: "IBM Plex Sans"
}